.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}


/* 게시판 코드 출력 배경 */
pre{
    background-color: #e9ecef;
    display: block;
    padding: 1em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre-wrap;
     background-color: rgba(0, 0, 0, .05);
    border-radius: 3px;
    padding: 1em;
}

/*게시판 이미지 크기 조정*/
p > img{
    max-width: 100%;
    height: auto;
    display: block;
}