{% extends 'base.html' %}
{% load custom_filter %}
{% block page_title %} {{ page_title }} {% endblock %}
{% block category %}
    {% if category_list %}
        {% for category in category_list %}
            <a class="btn" href="#" role="button">{{ category.ca_name }}</a>
            <div class="dropdown-divider"></div>
        {% endfor %}

    {% endif %}
{% endblock %}
{% block content %}
    <div class="container my=3">
        <!-- 양쪽정렬 justify-content-between -->
        <div class="row justify-content-between my-3">
            <!-- 정렬 선택창 시작 -->
            <div class="col-2">
                <select class="form-control so">
                    <option value="recent" {% if so == 'recnet'%} selected  {% endif %}>최신순</option>
                    <option value="recommend" {% if so == 'recommend' %}selected {% endif %}>추천순</option>
                    <option value="popular" {% if so == 'popular' %}selected {% endif %}>인기순(답글수)</option>
                </select>
            </div>
            <!-- 정렬 선택창 종료 -->
            <!-- 검색 창 시작 -->
            <div class="col-4 input-group">
                <input type="text" class="form-control kw" placeholder="QnA내에서 검색" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
            <!-- 검색 창 종료 -->
        </div>

        <table class="table">
            <thead>
            <tr class="text-center thead-dark">
                <th>번호</th>
                <th>추천</th>
                <th style="width: 50%">제목</th>
                <th>작성자</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            {% if page_obj %}
                {% for question in page_obj %}
                    <tr class="text-center">
                        <!-- 번호 = 전체 건수 - 시작인덱스 - 현재인덱스 +1 -->
                        <td>{{ paginator.count | sub:page_obj.start_index|sub:forloop.counter0|add:1 }}</td>
                        <td>
                            {% if question.voter.all.count > 0 %}
                                <span class="badge badge-warning px-2 py-1">{{ question.voter.all.count }}</span>
                            {% endif %}
                        </td>
                        <td class="text-left">
                            <a href="{% url 'QnA:detail' question.id %}">{{ question.subject }}</a>
                            {% if question.answer_set.count > 0 %}
                                <span class="text-danger small ml-2">{{ question.answer_set.count }} </span>
                            {% endif %}
                        </td>
                        <td>{{ question.author.username }}</td>
                        <td>{{ question.create_date }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">질문이 없습니다.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- page nav 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지-->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_obj.previous_page_number }}" href="#">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지 리스트 -->
            {% for page_number in paginator.page_range %}
                <!-- 페이지 수 조정 -->
                {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
                    {% if page_number == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_obj.next_page_number }}" href="#">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- page nav 끝 -->
        <a href="{% url 'QnA:question_create' %}" class="btn btn-primary">질문 등록</a>
        <!-- 검색 폼 처리 시작 -->
        <form id="searchForm" method="get" action="{% url 'QnA:index' %}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
            <input type="hidden" id="so" name="so" value="{{ so|default_if_none:'recent' }}">
        </form>
         <!-- 검색 폼 처리 끝 -->
    </div>
{% endblock %} #}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    // 페이지 번호를 클릭 시
    $(".page-link").on('click', function() {
        //  form 안에 있는 page id를 가진 input 태그에 데이터 삽입
        //  this : 페이지 링크가 걸려 있는 버튼 , $(this).data("page"): this 가 가진 data-page 값
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });
    // 검색창 버튼을 클릭 시
    $("#btn_search").on('click', function() {
        //  #kw: form 의 id = kw 인 input  .kw: 검색 텍스트
        // 검색 테스트를 form 안에 input(id='kw') value 에 대입
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
    // 정렬 조건을 변경하면
    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}